extends layout

block content
  .content
    .single-widget-container
      section.widget.login-widget
        header.text-align-center
          img(style="max-width: 100%",src="/img/logos/sdx.png")
        .body#login-container
          form#login-form.no-margin(
            action="/login"
            method="POST"
          )
            fieldset
              .form-group
                .input-group
                  span.input-group-addon
                    i.fa.fa-user
                  input.form-control.input-lg.input-transparent(
                    id          = "user-tf"
                    name        = "user"
                    type        = "user"
                    placeholder = "Your User"
                  )
              .form-group
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock
                  input.form-control.input-lg.input-transparent(
                    id          = "pass-tf"
                    name        = "pass"
                    type        = "password"
                    placeholder = "Your Password"
                  )
            .form-actions
              button#btn-login.btn.btn-lg.btn-block.btn-success(
                type="submit"
              )
                small Power Up
                span.small-circle
                  i.fa.fa-bolt
              label#remember-me.checkbox Remember Me
                input(type="checkbox", checked='checked')
              a(href='/signup')#create-account Create An Account
              a#forgot-password.forgot(
                href="#"
              ) Forgot Your Password?
        footer
          .facebook-login
            a(
              href="index.html"
            )
              span Login with Facebook
                i.fa.fa-facebook-square.fa-lg
    include modals/alert
    include modals/lost-password
    script(src='/js/views/login.js')
